//Google fonts
@import url(https://fonts.googleapis.com/css?family=Roboto:300,300i,400,500,700);
$font-family-roboto: 'Roboto Slab', serif;
$font-family-quotation: "Roboto - Light Italic";
$font-family-copyright: "Proxima Nova";

$headings-font-weight: 300;

$font-size-p: 18px;

$font-size-h1: 72px;
$font-size-h2: 36px;
$font-size-h3: 30px;


//Colors bg
$bg-top_section: linear-gradient(to top, #edeff1 0%, #edeff1 1%, #ffffff 24%, #e2e4e8 31%, #ffffff 100%);
$bg-primary: #ffffff;
$bg-blue:  #0149a1;
$bg-team: #edeff1;

//Colors tekstu
$txt-color: #5d6981;
$txt-color-white: #ffffff;
$color-top: #0149a1;
$color-services: #7c8ca0;
$color-works: #5483bb;

//Color button
$brand-primary: #ff2d55;
$brand-white: #ffffff;
$brand-creativity: #0149a1;
